@{
    ViewBag.Title = "SuccessCreateSalesItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success Create SalesItem</h2>
<p>The sales Item was created Successfully</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>